* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body.login-body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  display: flex;
  width: 1100px;
  height: 650px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.login-left {
  background-color: #546e7a;
  color: white;
  flex: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
}

.login-left .logo {
  width: 240px;
  margin-bottom: 25px;
}


.login-left p {
  font-size: 16px;
  color: #e0e0e0;
}

.login-right {
  flex: 1.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 60px;
  position: relative;
}

.intro {
  position: absolute;
  top: 50px;
  left: 60px;
}

.intro h1 {
  font-size: 34px;
  color: #37474f;
}

.intro .sub {
  font-size: 16px;
  color: #78909c;
  margin-top: 8px;
}

.form-area {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-title {
  font-size: 22px;
  color: #37474f;
  margin-bottom: 12px;
  border-bottom: 2px solid #607d8b;
  display: inline-block;
}

form label {
  font-size: 14px;
  color: #37474f;
  margin-top: 20px;
  display: block;
}

form input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: none;
  border-bottom: 2px solid #90a4ae;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  color: #333;
}

form button {
  margin-top: 30px;
  width: 100%;
  padding: 14px;
  border: none;
  background-color: #455a64;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button:hover {
  background-color: #37474f;
}


.cadastro {
  text-align: center;
  display: block;
  margin-top: 15px;
  text-decoration: none;
  font-size: 14px;
  color: #546e7a;
  font-weight: 500;
}

.cadastro:hover {
  text-decoration: underline;
}

.erro {
  margin-top: 10px;
  color: #c62828;
  font-size: 14px;
  text-align: center;
}

.sucesso {
  color: green;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

